@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    width:500px;
    height:500px;
}
.header {
    display: flex;
    background-image: url('/unbw.jpg'), ;
    background-size: cover;
    height: 700px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    gap:20px;
  }

  .headline {
    z-index:3;
  }

  .slidebox {
    padding:50px;
    background-color: #A9BD68;
    width:700px;
    height:400px;
    margin:40px 200px 50px;
  }

.container {
  
  align-items:center;
}