@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
  width: 300px;
  height: 300px;
}
.header {
  display: flex;
  background-size: cover;
  height: 700px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
  gap: 20px;
}

.headline {
  z-index: 3;
}

.container {
  align-items: center;
}

.header-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 3px 5px 2px #234d20;
  font-size: 72px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.background-about {
  background-image: linear-gradient(
      90deg,
      rgba(51, 121, 9, 0.7) 0%,
      rgba(90, 173, 39, 0.5) 45%,
      rgba(255, 255, 255, 0.7) 91%
    ),
    url("/aboutcsnew.jpg");
}

.background-services {
  background-image: linear-gradient(
      90deg,
      rgba(51, 121, 9, 0.7) 0%,
      rgba(90, 173, 39, 0.5) 45%,
      rgba(255, 255, 255, 0.7) 91%
    ),
    url("/services.jpeg");
}

.background-contact {
  background-image: linear-gradient(
   90deg,
      rgba(51, 121, 9, 0.7) 0%,
      rgba(90, 173, 39, 0.5) 45%,
      rgba(255, 255, 255, 0.7) 91%
    ),
    url("/contactus.jpeg");
}

.gridwrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 10px;
}

.griditem {
  background-color: #b2bb91;
  height: 300px;
  display: flex;
  flex-direction: column;

  border-radius:25px;
  justify-content:space-evenly;
  margin-left:10px;
  margin-right:10px;
  align-items:center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 400px;
}

.gridbutton {
    background-color: #E0E0A8;
  color:#36802D;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 10px 15px 20px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 15px 20px 0px rgba(0,0,0,0.75);
box-shadow: 20px 10px 30px 0px rgba(0,0,0,0.75);
width:150px;
font-family: 'Poppins', sans-serif;
}

.gridhead {
  font-size:32px;
  margin-left:5px;
}

.sliderighthead {
  margin-top: 20px;
}

nav {
  height: min-content;
  justify-content: center;
  align-items: center;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.footer {
  width: 100%;
  height: 350px;
  background: rgb(165, 187, 151);
  background: linear-gradient(
    4deg,
    rgba(165, 187, 151, 1) 5%,
    rgba(157, 187, 139, 1) 31%,
    rgba(98, 147, 69, 1) 66%,
    rgba(1, 83, 60, 1) 100%
  );
  align-items: center;
}

.custom-shape-divider-top-1687892017 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1687892017 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1687892017 .shape-fill {
  fill: #ffffff;
}

.footcontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}

.custom-shape-divider-bottom-1689457423 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689457423 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1689457423 .shape-fill {
  fill: rgb(165, 187, 151);
}
.slideboxcontainer {
  background: rgb(165, 187, 151);
  background: linear-gradient(
    184deg,
    rgba(165, 187, 151, 1) 5%,
    rgba(157, 187, 139, 1) 31%,
    rgba(98, 147, 69, 1) 66%,
    rgba(1, 83, 60, 1) 100%
  );
  padding-top: 50px;

}

.custom-shape-divider-top-1689460367 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1689460367 .shape-fill {
  fill: #ffffff;
}

.slideboxwrap {
  position: relative;
}

.custom-shape-divider-bottom-1689460589 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689460589 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1689460589 .shape-fill {
  fill: #ffffff;
}

.problem {
  color: white;
  margin-left: 13px;
  font-size:80px;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15)


}

.slidep {
  padding-bottom: 30px;
}

.bodyslide {
  display: flex;
  margin-bottom: 50px ;
}

    .slideheading {
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 48px;
              color: black;
              text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
              z-index: 1;
  background: rgba(255, 255, 255, 0.5);
width:550px;
height:300px;         
display:flex;
flex-direction:column;
justify-content:center;   
align-items:center;}

.slidesub {
  font-size:12px;
}

.contact-button {
  background-color:#C7C77F;
  width:200px;
padding:20px;
border-radius:10px;

  font-size:40px;
}

.contact-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
    animation: fadeIn 3s ease forwards;
}
.solve-underline {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.solve-underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;  /* Adjust this color as per your requirements */
}

@keyframes drawLine {
  to {
    width: 100%;
  }
}

.solve-underline.visible:before {
  animation: drawLine 2s forwards;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
@media screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .bodyslide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footcontent {
    display: flex !important;
    flex-direction: column !important;
    height: 100vh;
  }
  .footer {
    height: 100vh;
  }
  .homewrap {
    display: flex;
    flex-direction: column;
  }
}
